        <header id="header">
            <div class="container d-flex align-items-center">
                <div class="d-flex align-items-center left">
                    <h1 class="name">
                        <a href="{{ site_url() }}">{{ option('site_name') }}</a>
                    </h1>
                    <a href="javascript:;" class="toggle-menu"><i class="fas fa-bars"></i></a>
                </div>
                <nav>
                    <div class="menu-header-menu-container">
                        <ul id="menu-header-menu" class="menu">
                            <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="{{ genre_permalink('pop') }}">Pop</a></li>
                            <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="{{ genre_permalink('rock') }}">Rock</a></li>
                            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="{{ genre_permalink('kpop') }}">K-POP</a></li>
                            <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="{{ genre_permalink('dangdut') }}">Dangdut</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="social d-flex align-items-center">
                    <a href="https://www.facebook.com/#" target="_blank" rel="nofollow" class="fb d-flex align-items-center justify-content-center">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="https://twitter.com/#" target="_blank" rel="nofollow" class="tw d-flex align-items-center justify-content-center">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <a href="https://www.pinterest.com/#" target="_blank" rel="nofollow" class="pt d-flex align-items-center justify-content-center">
                        <i class="fab fa-pinterest-p"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/#" target="_blank" rel="nofollow" class="yt d-flex align-items-center justify-content-center">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </header>