{% extends "layouts/main.twig" %}
{% block content %}
    <div class="nxt-inner-content">
        <div class="container">
            <div class="row">
                <section class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 new-content">
                            <div class="nxt-single">
                                <div class="nxt-body">
                                    <div class="nxt-titlepage nxt-icon text-center">
                                        <h1>Apa itu {{ option('site_name') }} ?</h1></div>
                                    <div class="nxt-content nxt-wrap-content-single nxt-post">

                                        <p>{{ ucwords(site_domain) }} adalah sebuah website media musik digital gratis dengan jutaan link download audio mp3, video mp4, dan lirik lagu. Kamu akan mendapatkan semua konten download paling lengkap dan terbaru.</p>

                                        <h4 id="sumber" class="widget-title text-center">Dari manakah sumber konten {{ option('site_name') }}?</h4>
                                        <p>Semua konten lagu atau file MP3 yang tersedia di {{ option('site_name') }} hanyalah pihak ketiga yang berasal dari YouTube.</p>
                                        <p>{{ option('site_name') }} sebenarnya adalah YouTube to Mp3 Converter, namun kami mendevelop aplikasi ini secara berbeda dari kebanyakan situs konverter pengunduh video YouTube lainnya. Banyak fitur yang lebih memudahkan kamu untuk mengunduh video YouTube menjadi Audio MP3 di {{ option('site_name') }} daripada di situs lainnya.</p>
                                        <p>Semua file yang berasal dari konverter YouTube, kami dapatkan dari situs konverter luar yang kami pasang atau embed dengan tag iframe pada halaman download. Kami bukan pemilik dan tidak punya akses untuk setiap file yang ada di halaman download yang belum diupdate.</p>
                                        <p>Untuk file MP3 pada halaman download yang sudah kami update atau perbarui, berasal dari server kami sendiri. Kami hanya memiliki akses penuh terhadap file yang kami update sendiri.</p>
                                        <h4 id="copyright" class="widget-title text-center">Apakah konten {{ option('site_name') }} legal?</h4>
                                        <p>Karena {{ option('site_name') }} adalah YouTube to Mp3 Converter, kebanyakan konten di situs kami tidak memiliki copyright atau hak cipta, dimana pengguna YouTube kebanyakan perorangan seperti Vlog, Cover, Remix, Gaming dan lainnya. Namun banyak juga yang memiliki hak cipta.</p>
                                        <blockquote>Hubungi kami lewat email ke kampdev@gmail.com untuk saran / kritik / kerjasama / penghapusan / hak cipta dan lainnya, kami akan memproses keluhan kamu kurang dari 24 jam.</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}