{% extends "layouts/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <div class="row">
                    <div role="main" class="main col-md-9">
                        <section class="new-content">
                            <article id="post-111" class="ktz-page post-111 page type-page status-publish hentry">
                                <div class="inner-box">
                                    <div class="entry-body clearfix">
                                        <h2 class="widget-title">Wellcome to {{ option('site_name') }} </h2>
                                        <p class="alert alert-block btn-box alert-info"><strong>{{ option('site_name') }}</strong> - adalah situs download lagu terbaru 2020, download mp3 gratis, cepat dan mudah. Download gudang lagu mp3 full album terpopuler.</p>
                                        <div class="widget-title">
                                            <h3 class="entry-title"><i class="glyphicon glyphicon-fire"></i> Terpopuler iTunes - 25  </h3>
                                        </div>
                                        <ul class="ranked-popular-post-wrapper">
                                            {% for i, item in getTopSong('25')['items'] %}
                                                <li class="col-xs-12 col-sm-6 col-md-12">
                                                    <div class="popular-news-wrapper">
                                                        <a class="news-image" href="{{ search_permalink(item['title']) }}"> <img src="{{ photonResize(item['image'], '80', '80', 2) }}" title="Download {{ item['title'] }} MP3" alt="Download {{ item['title'] }} MP3"> </a>
                                                        <h4 class="news-title"><a title="{{ item['title'] }} MP3" href="{{ search_permalink(item['title']) }}">{{ item['title'] }}</a></h4>
                                                        <div class="news-info">
                                                            <span style="color:#444">{{ item['artist'] }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                    <div class="sbar col-md-3 widget-area wrapwidget" role="complementary">
                        <aside id="execphp-2" class="widget widget_execphp">
                            <h4 class="widget-title">
                                <span class="ktz-blocktitle"><i class="glyphicon glyphicon-search"></i> Lagu Terpopuler</span>
                            </h4>
                            <ul>
                                {% for item in getTopSong('7', '1274')['items'] %}
                                    <li>
                                        <span class="glyphicon glyphicon-music"></span>
                                        <a href="{{ search_permalink(item['title']) }}" title="Download {{ item['title'] }} MP3"><span class="cuk"></span>{{ item['title'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <aside id="execphp-2" class="widget widget_execphp">
                            <h4 class="widget-title">
                            <span class="ktz-blocktitle"><i class="glyphicon glyphicon-search"></i> Latest Download</span>
                        </h4>
                            <ul>
                                {% for item in getTerms('30')['items'] %}
                                    <li>
                                        <span class="glyphicon glyphicon-music"></span>
                                        <a href="{{ search_permalink(item) }}" title="Download {{ ucwords(item) }} MP3"><span class="cuk"></span>{{ ucwords(item) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}