{% extends "layouts/main.twig" %}
{% block content %}
<main class="col-md-8 mb-4">
    <h1 class="title-full h5">Fast Mp3 Download</h1>
    <div class="d-block">
    {% for item in getTerms('30')['items'] %}
        <article class="music_article align-items-center d-flex pb-2">
            <a href="{{ search_permalink(item) }}" title="{{ ucwords(item) }}">
                <img src="{{ themes('img/music-icons-192x192.png') }}" width="60" height="60" class="rounded-circle shadow-sm mr-2" />
            </a>
            <div>
                <h2 class="h6 font-weight-bold">{{ ucwords(item) }}</h2>
                <p class="text-muted small my-0">Type : Audio/MP3 (320kbps) Stereo, Post By : admin</p>
                <a href="{{ search_permalink(item) }}" title="{{ ucwords(item) }}" class="btn btn-primary border-0 btn-sm p-1 px-2 m-2">View Details</a>
            </div>
        </article>
    {% endfor %}
    </div>
</main>
<aside class="col-md-4 mb-4">
    <h2 class="title-h h5">Download Lagu Terpopuler</h2>
    <ul class="list-side">
    {% for item in getTerms('30')['items'] %}
        <li>
            <a href="{{ search_permalink(item) }}" title="{{ ucwords(item) }}">
                <span>{{ ucwords(item) }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
</aside>
{% endblock %}