<!DOCTYPE html>
<!--[if IE 7]><html class="ie7 no-js"  lang="en-US" xmlns:og="//opengraphprotocol.org/schema/" xmlns:fb="//www.facebook.com/2008/fbml"<![endif]-->
<!--[if lte IE 8]><html class="ie8 no-js"  lang="en-US" xmlns:og="//opengraphprotocol.org/schema/" xmlns:fb="//www.facebook.com/2008/fbml"<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en-US" xmlns:og="//opengraphprotocol.org/schema/" xmlns:fb="//www.facebook.com/2008/fbml">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <meta property="og:url" content="{{ canonical_url() }}" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="{{ option('site_name') }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="{{ themes('download-lagu-gratis.jpg') }}" />
        <meta name="robots" content="{{ robots }}" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
        <link rel="icon" href="{{ themes('favicon.ico') }}" type="image/gif" sizes="16x16">
        <link rel="stylesheet" id="ktz-bootstrap-min-css" href="{{ themes('css/bootstrap.min.css?v=0.1.1') }}" type="text/css" media="all">
        <link rel="stylesheet" id="ktz-main-css-css" href="{{ themes('css/style.css?v=0.0.1') }}" type="text/css" media="all">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#00aaff">
        <style type="text/css" id="wp-custom-css"> .site-title { font-size: 30px; font-weight: bold } .tagsearch { margin: 3px; color: #333; font-weight: 700; padding: 6px; text-overflow: unset; display: inline-block } .tagsearch a { text-decoration: none } .inputsearch #inputform_wrapper { background: #f5f5f5; width: 90%; max-width: 500px; height: 44px; border-radius: 20px; margin: 15px auto; padding-left: 15px } .inputsearch { color: #00c5d1; font-size: 13px; font-weight: 400 } .inputtext { color: #333; background-color: #f5f5f5; font-size: 14px; font-weight: 400; float: left; width: 83.33333333333333%; height: 44px; border: none; border-radius: 20px; padding: 0 .8333333333333333%; outline: 0 } .inputbutton { color: #fff; border-radius: 20px; background-color: #f40000; font-size: 13px; font-weight: 700; float: left; width: 14.16666666666667%; height: 34px; border: none; border: 2px; margin: 5px .8333333333333333%; padding: 0; cursor: pointer } .ktz-allwrap { margin: 5px auto 10px; width: 99%; max-width: 860px } .download { margin-top: 10px } table td { border: 1px solid #ccc; font-size: 1em; padding: 10px 3px } table tr:nth-child(2n) { background: #f7f7f7 } table { margin: auto } .ktz-postmini-thumb img { border-radius: 6px } @media screen and (min-width:1080px) and (max-width:1800px) { .nganan, .ngiri { overflow: hidden } .nganan { float: right; width: 60% } .ngiri { float: left; width: 33%; max-width: 100px } .ngiri img { border-radius: 5px } } @media screen and (min-width:721px) and (max-width:1224px) { .nganan, .ngiri { overflow: hidden } .nganan { float: right; width: 50% } .ngiri { float: left; width: 33%; max-width: 100px } .ngiri img { border-radius: 5px } } @media screen and (min-width:600px) and (max-width:720px) { .nganan, .ngiri { overflow: hidden } .nganan { float: right; width: 89% } .ngiri { float: left; width: 10%; max-width: 100px } .ngiri img { border-radius: 5px } } @media screen and (max-width:599px) { .nganan, .ngiri { overflow: hidden } .nganan { float: right; width: 74% } .ngiri { float: left; width: 23%; max-width: 100px } .ngiri img { border-radius: 5px } } @media screen and (min-width:720px) { .album-cover { width: 200px } } @media screen and (max-width:720px) and (min-width:480px) { .album-cover { width: 200px } } @media screen and (max-width:480px) and (min-width:320px) { .album-cover { width: 130px; vertical-align: top } } @media screen and (max-width:320px) { .album-cover { width: 100px; vertical-align: top } } .info-album td { border: none; text-align: left; padding: 8px } .info-album img { border-radius: 20px } .download-album { padding: 7px; background: #f40000; color: #fff; border-radius: 5px } .metro-info { margin: 10px 0; padding: 12px; color: #4f8a10; background-color: #dff2bf } h1 { font-size: 18px } .ranked-popular-post-wrapper ul { margin: 0; list-style-type: none } .ranked-popular-post-wrapper { padding-left: 0 } .ranked-popular-post-wrapper li { list-style-type: none; margin-bottom: 15px } ol, ul { margin-bottom: 10px } dl, ol, ul { margin-top: 0 } .popular-news-wrapper { min-height: 80px; padding-left: 90px; position: relative } .popular-news-wrapper a.news-image { border-radius: 6px; left: 0; position: absolute; top: 0; width: 80px; height: 80px; background-color: #0af; box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, .25) } .popular-news-wrapper .news-rank, .top-search-metro { background-color: #0af; height: 32px; text-indent: 1px; width: 32px; text-align: center } .ranked-popular-post-wrapper ul li a { display: inline-block } .popular-news-wrapper .news-rank { border-radius: 50%; border: 2px solid #fff; font-size: 18px; line-height: 27px; position: absolute; left: -15px; top: -10px; color: #fff } .popular-news-wrapper .news-title { margin-bottom: 0; max-height: 52px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; font-size: 15px } .popular-news-wrapper .news-info { overflow: hidden; color: grey; line-height: 18px!important; padding-left: 0 } .popular-news-wrapper a.news-image img { border-radius: 6px } .rank-main { padding: 12px; vertical-align: middle } .rank-main span { padding: 8px; text-align: center; background: #0af; color: #fff; border-radius: 5px } .top-search-metro { border-radius: 50%; border: 2px solid #fff; font-size: 18px; line-height: 27px; color: #fff } td, th { border: none; border: 0 } th { background: #0af; text-align: center; border-radius: 50%; color: #fff } td { background: #fff; color: #333 } td a { color: #0af } .share-btn { margin: 6px; padding: 5px; color: #fff; border-radius: 3px } .share-btn.twitter { background: #55acee } .share-btn.whatsapp { background: #1ebea5 } .share-btn.facebook { background: #3b5998 } audio { width: 100%; margin-bottom: -5px } .ktz-titlepage { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } </style>
    </head>
<body class="home page-template-default page page-id-134 kentooz" id="top">
    <div class="ktz-allwrap">
        {% include('partials/header.twig') %}
        {% block content %}{% endblock %}
        {% include('partials/footer.twig') %}
    </div>
</body>
</html>