{% extends "layouts/main.twig" %}
{% block content %}
    <main>
        <div class="container">
            <form id="search-form" method="GET" action="/">
                <h3>Temukan lagu, video dibawah!</h3>
                <div>
                    <input type="text" autocomplete="off" name="q" required="" spellcheck="false" placeholder="" value="" />
                    <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
            <div class="main-content d-flex">
                <div id="content" class="single flex-fill">
                    <h1 class="page-title">Download {{ single['title'] }} Mp3</h1>
                    <div class="image text-center">
                        <img
                            src="{{ photonResize('https://ytimg.googleusercontent.com/vi/' ~ single['id'] ~ '/mqdefault.jpg', '320', '180', 0) }}"
                            alt="{{ single['title'] }}"
                            title="{{ single['title'] }}"
                        />
                    </div>
                    <div class="player text-center">
                        <audio src="https://www.youtube.com/watch?v={{ single['id'] }}" type="video/youtube" controls style="width: 100%;">Your browser does not support the audio element.</audio>
                    </div>
                    <div class="details text-center">
                        <p><i class="fas fa-clock"></i>Duration: <strong>{{ single['duration'] }}</strong></p>
                        <p><i class="fas fa-download"></i>Size: <strong>{{ single['size'] }}</strong></p>
                        <p><i class="fas fa-calendar"></i>Published: <strong>{{ toIsoFormat(single['publishedAt'], 'id_ID') }}</strong></p>
                        <p><i class="fas fa-headphones"></i>Listen: <strong>{{ single['viewCount'] }}</strong></p>
                        <p><i class="fas fa-thumbs-up"></i>Likes: <strong>{{ single['likeCount'] }}</strong></p>
                    </div>
                    <br/>
                    <div class="d-flex justify-content-center">
                        <div style="padding: 6px; border-radius: 4px; background: #00aaff; color: #ffffff; margin: 4px; width: 50%; max-width: 200px; height: auto; text-align: center;">
                            <a href="{{ download_permalink(single['id']) }}" rel="nofollow" target="_blank"><i class="fas fa-download"></i> Download</a>
                        </div>
                    </div>
                    <div class="content text-center">
                        {{ autop(single['description'])|raw }}
                    </div>
                </div>
                <div id="sidebar">
                    <aside class="widget widget-terms">
                        <h3 class="section-title">
                            <span><i class="fas fa-search" aria-hidden="true"></i>Recent Search</span>
                        </h3>
                        <ul>
                        {% for item in getTerms('30')['items'] %}
                            <li>
                                <a href="{{ search_permalink(item) }}" class="d-flex align-items-center">
                                    <i class="fas fa-music"></i>
                                    <span class="flex-fill">{{ ucwords(item) }}</span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </main>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelement-and-player.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('audio').mediaelementplayer();
        })
    </script>
{% endblock %}